{
  "extends": "vtex-react/gatsby",
  "root": true,
  "rules": {
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "prettier/prettier": ["error", { "endOfLine": "auto"}, { "usePrettierrc": true }], 
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "ignorePatterns": ["static/~partytown/*"]
}
